% verificationcriteria = tree.find_all(kind='verification-criterion', sort_by='DEFAULT')
% if verificationcriteria:
  <h1>Verification Criteria <span>{{ len(verificationcriteria) }}</span></h1>
  <dl>
    % for path, criterion in verificationcriteria:
      % include verification-criterion path=path, criterion=criterion, detail='full'
    % end
  </dl>
% end

% rebase layout tree=tree
