html {
  background: #efffdf;
}

body {
  padding: 0em 3em;
  margin: 0em 0em 1em 0em;
  overflow-y: scroll;
  font-family: sans-serif;
  font-size: 0.85em;
  min-height: 600px;
}

#nav {
    background: #a7d239;
    border: 2px solid #64a800;
    box-shadow: 0px 0px 5px #999;
    border-radius: 0px 0px 5px 5px;
    margin: -0.6em auto 1.5em auto;
    text-align: center;
    height: 2.2em;
    position: relative;
    z-index: 1;
}

#nav ul {
    margin: 0em;
    padding: 0em;
    list-style: none;
}

#nav li {
    display: inline-block;
    margin: 0em;
    padding: 0em;
}

#nav li a, #nav li a:link {
    display: inline-block;
    padding: 0.5em 1em 0.5em 1em;
    color: #fff;
    border-right: 1px solid #a7d239;
    border-left: 1px solid #a7d239;
}

#nav li a:hover {
    background: #b7e249;
    text-decoration: none;
    border-right: 1px solid #64a800;
    border-left: 1px solid #64a800;
}

#body {
  margin: 0em auto 0em auto;
  background: #fff;
  border-right: 2px solid #64a800;
  border-left: 2px solid #64a800;
  border-bottom: 2px solid #64a800;
  color: #333;
  padding: 1.5em 2em 3em 2em;
  box-shadow: 0px 0px 5px #999;
  min-height: 450px;
}

h1 {
  background: #a7d239;
  padding: 0.5em 2.5em 0.5em 2.5em;
  margin: 1em -2.5em 0.25em -2.5em;
  font-size: 1.75em;
  color: #fff;
  border: 2px solid #64a800;
  box-shadow: 0px 0px 5px #999;
  position: relative;
}

h1#title {
  z-index: 2;
}

#body > h1:first-child {
  margin-top: 0em;
}

h1 span {
  float:right;
  text-align: right;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

h1 a, h1 a:link {
  float: left;
  color: #fff;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: none;
}

h1 form {
  text-align: right;
  font-size: 0.5em;
  height: 2.25em;
  margin: 0em;
  padding: 0em;
}

#state {
  background: #97c229;
  border: thin solid #64a800;
  color: #fff;
  font-family: monospace;
}

#state option {
  background: #97c229;
  color: #fff;
}

#state option.active {
  background: #77a209;
}

h2 {
  font-size: 1.1em;
  margin: 0em;
  padding: 0.5em 0em 0.5em 0em;
}

h2:before {
  content: '\25B8  ';
}

h2.expanded:before {
  content: '\25BE  ';
}


h5.collapsible:before {
  content: '\25B8  ';
}

h5.collapsible.expanded:before {
  content: '\25BE  ';
}

h2 span {
  float: right;
  text-align: right;
  opacity: 0.3;
  filter: alpha(opacity=30);
  font-size: 0.7em;
  margin: 0em;
}

h3 {
  font-size: 1em;
}

td > *:first-child {
  margin-top: 0em;
}

td > *:last-child {
  margin-bottom: 0em;
}

#content > dl {
  margin-left: 0em;
}

dl {
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 2em;
  margin-right: 0em;
}

dt {
}

dt:hover {
  text-decoration: underline;
}

dd {
  margin-left: 1em;
  background: #f0f0f0;
  border-top: medium solid #eaeaea;
  border-bottom: medium solid #e6e6e6;
  padding: 0.5em 1em 0.5em 1em;
  display: none;
}

table {
  border: 0em;
  width: 100%;
  padding: 0em;
  margin: 0em;
  table-layout: fixed;
}

th, td {
  vertical-align: top;
  padding: 0.5em 0em 0.5em 0em;
  text-align: left;
}

dd th {
  width: 15%;
}

ul, ol {
  padding-left: 1.5em;
}

ul {
  list-style: circle;
}

a, a:link {
  color: #0a4e7e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  background: #fff;
  padding: 1em;
  border: thin solid #ccc;
  max-width: 90%;
}

a span {
  float: right;
  opacity: 0.3;
  filter: alpha(opacity=30);
  font-size: 0.7em;
}

a:hover span {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.center {
  text-align: center;
}

.error {
  color: #ff0000;
}

.warning {
  color: DarkOrange;
}

.hierarchy, .hierarchy ul {
  list-style: none;
}

.hierarchy {
  padding-left: 0em;
}

a.architecture:after { content: '  [a]'; opacity: 0.5; filter: alpha(opacity=50); }
a.component:after    { content: '  [c]'; opacity: 0.5; filter: alpha(opacity=50); }
a.workitem:after     { content: '  [w]'; opacity: 0.5; filter: alpha(opacity=50); }
a.requirement:after  { content: '  [r]'; opacity: 0.5; filter: alpha(opacity=50); }
a.interface:after    { content: '  [i]'; opacity: 0.5; filter: alpha(opacity=50); }
a.tag:after          { content: '  [t]'; opacity: 0.5; filter: alpha(opacity=50); }
a.strategy:after     { content: '  [s]'; opacity: 0.5; filter: alpha(opacity=50); }
a.verificationcriterion:after { content: '  [v]'; opacity: 0.5; filter: alpha(opacity=50); }

label {
  margin-right: 6px;
}

input, select {
  border: thin solid #eee;
  box-shadow: 0px 0px 2px #999;
  padding: 0.25em;
  font-size: inherit;
  font-family: inherit;
  border-radius: 2px;
}

input[type="button"], input[type="submit"] {
  background: #f6f6f6;
  cursor: pointer;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="button"].pressed {
  background: #ddd;
  border-color: #ccc;
}

#unhappy-filter {
  color: #ff0000;
}

h2 span.error, a span.error {
  color: #ff0000;
  float: none;
  opacity: 1.0;
  filter: alpha(opacity=100);
  font-size: inherit;
}

#nav-more a {
  width: 8em;
  text-align: left;
  cursor: pointer;
}

#nav-more ul {
  background: #ff0000;
  display: none;
  position: absolute;
  left: inherit;
  width: 10em;
  background: #a7d239;
  z-index: 10;
  border: 1px solid #64a800;
  text-align: left;
  border-top: 0em;
  padding: 0em;
  margin-top: 1px;
  box-shadow: 0px 1px 1px #999;
}

#nav-more ul li {
  display: block;
  float: clear;
}

#nav-more ul a, #nav-more ul a:link {
  display: block;
  border: 0em;
}

#nav-more a:hover {
  border: 0em;
}

blockquote {
  border-left: 2px solid #ccc;
  margin-left: 0em;
  padding-left: 1em;
  color: #666;
}

pre {
  overflow-x: auto;
  border-left: 2px solid #64a800;
  margin-left: 0em;
  padding-left: 1em;
  color: #666;
}

pre.diff {
  border: 0em;
  color: inherit;
  padding-left: 0em;
}

.diff-added {
  color: green;
}

.diff-removed {
  color: red;
}

#history tr.row {
  cursor: pointer;
}

#history tr.row:hover {
  background:#f0f0f0;
}

#history tr.selected {
  background: #e6e6e6;
}

#history-hint, #history-actions {
  line-height: 2.25em;
}

.expandable {
  margin-bottom: 1em;
}

.expandable h3 {
  cursor: pointer;
  margin: 0em;
}

.expandable h3:before {
  content: '\25B8  ';
}

.expanded h3:before {
  content: '\25BE  ';
}

.expandable h3:hover {
  text-decoration: underline;
}

.expandable ul {
  list-style: none;
  padding-left: 0.8em;
  margin: 0.5em 0em 0em 0em;
  display: none;
}

.secondary {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.list {
  list-style: none;
  padding-left: 0em;
}

#content fieldset {
  border: 0em;
}

#content form h2:before {
  content: '';
}

#content form h2.expanded:before {
  content: '';
}

#content form p.fields {
  margin-top: 0em;
  margin-left: 2em;
}

#content form .buttons {
  text-align: center;
}

#content form input[type="button"], #content form input[type="submit"] {
  padding: 0.5em;
}
